$sideMenuWidth : 250px

$minimisedContent : 275px

$primaryColor: rgba(33, 40, 131, 0.9)
$secondaryColor: rgb(236, 236, 236)
$thirdColor: rgb(56, 56, 56)


// bleu rgba(33, 40, 131, 0.9)
// bleu 2 rgba(26, 103, 167, 0.9)

$tabletStyle: 990px
$mobileStyle: 760px