@use '../utils/_variables' as *

.contact
    display: flex 
    flex-direction: row
    gap: 50px
    &__box
        border: 1px solid $thirdColor
        border-radius: 15px
    &__phone
        width: 45%
    &__mail
        width: 45%
    &__title
        display: flex
        flex-direction: row
        justify-content: center
        gap: 40px
        background-color: $secondaryTextColor
        border-radius: 14px
        border: 2px solid $thirdColor
        &__icon
            width: 45px
        