@use '../utils/_variables' as *

.card
    border: 1px solid black
    border-radius: 10px
    height: 200px
    width: 250px
    padding: 8px
    color: black
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: 0.5s ease
    &:hover
        height: 210px
        width: 260px
        margin: -5px
        box-shadow: -5px 5px 18px black
    &__cover
        object-fit: cover
        border-radius: 10px
    &__title
        //color: $primaryTextColor
        font-size: 20px
        text-align: center
        height: 50px
        padding-top: 20px
        border-radius: 10px
        margin: -9px
        //background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))